.App {
  text-align: center;
  min-height: 120vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  width: 30vw;
  padding: 2em;
}


