.App {
  text-align: center;
  min-height: 120vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  margin-left: auto;
  width: 30vw;
  padding: 2em;
}

.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarContainer > span {
  padding: 0em 2em;
}